{% extends "base.html" %}
{% load i18n %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}
  {% bootstrap_alert 'Sorry, but you have already voted.' alert_type='danger' %}
{% endif %}

{% for question in poll.question_set.all %}
<div class="container">
  <p><strong>{{ question.question_text }}</strong></p>
  {% if question.choice_type == "OPEN" %}
     {% include "./polls/text.html" %}
  {% else %}
    {% include "./polls/form.html" %}
  {% endif %}
{% endfor %}
</div>

  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "ok" %} Vote
    </button>
  {% endbuttons %}

  </form>
{% endblock %}
