{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if poll %}
  <h1>Good Poll</h1>
  <ul>
  {% for poll in poll %}
    {% if not c %}
      <p>No good polls</p>
    {% endif %}
    {% if timezone < poll.end_date %}
      <li><a href="{% url 'polls:detail' poll.id %}">{{ poll.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>

  {% if n %}
    <h1>Expiration Poll</h1>
    <ul>
    {% for poll in poll %}
      {% if timezone > poll.end_date %}
        <li><a href="{% url 'polls:detail' poll.id %}">{{ poll.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% else %}
  <p>No polls are available.</p>
{% endif %}

{% endblock %}
