{% extends "base.html" %}
{% load i18n %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}
  {% bootstrap_alert 'Sorry, but you have already voted.' alert_type='danger' %}
{% endif %}

<div class="container">
  {% if question.choice_type == "OPEN" %}
      {% include "./text.html" %}
  {% else %}
      {% include "./form.html" %}
  {% endif %}
</div>
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "ok" %} Vote
    </button>
  {% endbuttons %}

  </form>
{% endblock %}
