{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if question %}
  <p>Good question</p>
  <ul>
  {% for question in question %}
    {% if timezone < question.end_date %}
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>

  <p>Expiration question</p>
  <ul>
  {% for question in question %}
    {% if timezone > question.end_date %}
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% else %}
  <p>No polls are available.</p>
{% endif %}

{% endblock %}
